<div class="card book {{ 'book--full' if detail }}">
    <div class="book__cover">
        <img src="{{book.cover}}" alt="book cover" />
    </div>

    <div class="book__header">
        <p class="book__title">{{ book.title }}</p>
        <p class="book__author">por {{ book.authors | join(', ') }}</p>
    </div>
    <div class="book__body">
        <p class="book__synopsis">{{ book.synopsis }}</p>

        {% if detail %}
        <div class="book__extra-info">
            
            <p>
                Se publicó en el año
                <span class="highlight">{{ book.year }}</span> por la editorial
                <span class="highlight">{{ book.publisher }}</span>.
            </p>
            <p>
                La primera edición se realizo en
                <span class="highlight">{{ book.country }}</span>.
            </p>
            <p>
                Es un libro perteneciente a los géneros
                <span class="highlight">{{ book.genres }}</span>.
            </p>
            <p>
                ISBN:
                <span class="highlight">{{ book.isbn }}</span>.
            </p>
            <p>
                Paginas:
                <span class="highlight">{{ book.pages }}</span>.
            </p>
            {% if book.status == 'FINISHED' %}{% if book.rating > 0 %}
            <p>
                Puntuaste al libro con
                <span class="highlight">{{ book.rating }}</span><label class="estrella"> ★</label>.
            </p>{% endif %}{% endif %}
        </div>
        {% endif %}
    </div>

    {% if detail %}
    <div class="book__actions">
        {% if book.status == 'AVAILABLE' %}
        <button class="btn btn-primary" data-ref="addToList">
            Empezar a leer
        </button> {% endif %} {% if book.status == 'READING' %}
        <button class="btn btn-warning" data-ref="removeFromList">
            Dejar de leer
        </button>
        <button class="btn btn-success" data-ref="addToFinish">
            Lo termine!
        </button> {% endif %} {% if book.status == 'FINISHED' %}
        <button class="btn btn-danger" data-ref="removeFromFinish">
            
            Volver a leer
        </button> {% endif %}
        <button class="btn btn-primary" data-ref="goBack">
            Atras
        </button>
    </div>
    {% endif %}
    <div class="overlay " id="ove">
        <div class="popup" id="popup">

            <h3>Califica el libro por favor</h3>
            <form>
                <div class="contenedor-btn">
                    <input id="radio1" type="radio" name="rate" value="5">
                    <label class="ratingstar" for="radio1">★</label>
                    <input id="radio2" type="radio" name="rate" value="4">
                    <label class="ratingstar" for="radio2">★</label>
                    <input id="radio3" type="radio" name="rate" value="3">
                    <label class="ratingstar" for="radio3">★</label>
                    <input id="radio4" type="radio" name="rate" value="2">
                    <label class="ratingstar" for="radio4">★</label>
                    <input id="radio5" type="radio" name="rate" value="1">
                    <label class="ratingstar" for="radio5">★</label>

                </div>
            </form>
        </div>
    </div>
</div>